/* screen.scss - Primary stylesheet for imsocold.ilv.me */
@import "compass/reset";
@import "../bootstrap/stylesheets/bootstrap";
@import "../Font-Awesome/scss/font-awesome";

#map {
  width: 600px;
  height: 400px;
  border: thin solid black;
  display: none;
}

.toggle-directions {
  display: none;
}